@model IEnumerable<Item>

@{
    ViewData["Title"] = "List of Items";
}

<div class="container">
  <div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <div class="card-img-top-wrapper">
                <img src="@product.PictureUrl" class="card-img-top" alt="Product Image">
            </div>
            <div class="card-body">
              <h5 class="card-title">@product.Name</h5>
                        @if (product.Description.Length >= 30)
                        {
                            <p class="card-text">@product.Description.Substring(0,30) ...</p>
                        }
                        else
                        {
                            <p class="card-text">@product.Description</p>
                        }
                        <div class="col-md-12">
                            <div class="card-footer ">
                                          <div class="card-text row">
                                              <div class="col-4">
                                        <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@product.Id"> <i class="bi bi-eye-fill"></i> Show Details</a>
                                                </div>
                                              <div class="col-8 text-end">
                                        <a class="btn btn-success text-white" asp-controller="OrdersEShop" asp-action="AddItemShoppingCart" asp-route-id="@product.Id"><i class="bi bi-cart-plus"></i> Add to Cart(Price @product.Price.ToString("") EUR)</a>
                                            </div>
                                      </div>
                                </div>
                          </div>
                    </div>
               </div>
        </div>
    }
  </div>
</div>

<style>
    .card-img-top-wrapper {
        width: 100%;
        height: 400px;
        overflow: hidden;
    }

    .card-img-top {
        width: 100%;
        height: 100%;
        object-fit:scale-down;
    }
</style>