
@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of Movies";
}


<body style="background-color:black">
</body>
<div class="container2">

    <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExMmNiZmQzMjNiNzExYzdjMjU0ZmQyZDJiYTI5ODIzNGU4ZDIxYWQzMyZjdD1n/Vw3k4Vro0Q5KE/giphy.gif">
    <img src="https://www.cinemacity.ro/static/dam/jcr:7a062e8e-aeb1-465d-b804-858f411cd37c" alt="Top Image">
    <img src="https://i.gifer.com/XjRw.gif" alt="Top Right Image">
   
</div>
<br />
<br />
<div class="row">
    <h1 class="badge bg-light text-black" style="height:10vh; font-size:35px">UPCOMING</h1>
</div>
<div class="row" style="margin-left:60px">
    <div class="col-md-1 d-flex align-items-center">
        <button id="scroll-left" class="btn btn-outline-secondary"><i class="bi bi-chevron-left"></i></button>
    </div>
    <div class="col-md-10">
        <div id="movie-container" class="d-flex flex-nowrap overflow-hidden">
            @foreach (var item in Model)
            {
                @if (DateTime.Now < item.StartDate)
                {
                    <div class="col-md-3 col-sm-4 mb-4">
                        <div class="card" style="width:300px">
                            <img src="@item.ImageURL" class="card-img-top" alt="@item.Name">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                @if (item.Description.Length >= 30)
                                {
                                    <p class="card-text">@item.Description.Substring(0,30) ...</p>
                                }
                                else
                                {
                                    <p class="card-text">@item.Description</p>
                                }
                                <p class="card-text"><b>Release Date: </b>@item.StartDate.ToString("dd MMM yy")</p>
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id"> <i class="bi bi-eye-fill"></i> Show Details</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="col-md-1 d-flex align-items-center">
        <button id="scroll-right" class="btn btn-outline-secondary"><i class="bi bi-chevron-right"></i></button>
    </div>
</div>


<script>
    const container = document.getElementById("movie-container");
    const scrollLeftButton = document.getElementById("scroll-left");
    const scrollRightButton = document.getElementById("scroll-right");

    // calculate the width of a single movie card
    const cardWidth = document.querySelector(".card").offsetWidth;

    // calculate the width of the container based on the number of movies to show
    const containerWidth = cardWidth * 5;

    // set the width of the container to prevent the movies from wrapping
    container.style.width = containerWidth + "px";

    // add event listeners to scroll the container left and right
    scrollLeftButton.addEventListener("click", () => {
        container.scrollBy({
            left: -cardWidth * 2,
            behavior: "smooth",
        });
    });

    scrollRightButton.addEventListener("click", () => {
        container.scrollBy({
            left: cardWidth * 2,
            behavior: "smooth",
        });
    });

</script>

<div class="row">
<h1 class="badge bg-success text-white" style="height:10vh; font-size:35px">AVAILABLE NOW</h1>
</div>
<div class="row" style="margin-left:70px">
  
    @foreach (var item in Model)
    {
        @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
        {
            <div class="col-md-4 col-xs-6 border-primary mb-3">
                <div class="card mb-3" style="max-width: 480px;">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-header text-white bg-info">
                                <p class="card-text">
                                    <h5 class="card-title">
                                        @item.Name
                                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                        {
                                            <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                        }
                                    </h5>
                                </p>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="@item.ImageURL" width="200" height="310" alt="@item.Name">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                @if (item.Description.Length >= 30)
                                {
                                    <p class="card-text">@item.Description.Substring(0,30) ...</p>
                                }
                                else
                                {
                                    <p class="card-text">@item.Description</p>
                                }
                                <p class="card-text"><b>Cinema: </b>@item.Cinema.Name</p>
                                <p class="card-text"><b>Category: </b>@item.MovieCategory</p>
                                <p class="card-text"><b>End Date: </b>@item.EndDate.ToString("dd MMM yy")</p>
                                <p class="card-text ">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer ">
                                <div class="card-text row">
                                    <div class="col-5">
                                        <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id"> <i class="bi bi-eye-fill"></i> Show Details</a>
                                    </div>
                                    <div class="col-7 text-end">
                                        <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddItemShoppingCart" asp-route-id="@item.Id"><i class="bi bi-cart-plus"></i> Add to Cart(Price @item.Price.ToString("") RON)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</div>


    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        /* Set the maximum width of the images */
        img1 {
            max-width: 100%;
            max-height: 100%;
        }

        /* Set the width of the container to fit the screen */
        .container2 {
            height: 40vh;
            max-height: 100%;
            width: 100%;
            max-width: 100%; /* You can adjust this value to fit your needs */
            margin: 0 auto; /* Center the container */
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            overflow-x: hidden;
            overflow-y: hidden;
            align-items: stretch;
        }

            /* Set the width of each image */
            .container2 img {
                height: 100%; /* Make the height of the image 100% of the container height */
                object-fit: scale-down; /* Scale the image to fill the container */
                width: 33%; /* You can adjust this value to fit your needs */
                margin: 10px; /* Add some margin between the images */
            }

        #movie-container {
            scroll-behavior: smooth;
        }

        .card {
            width: 100%;
        }
        
    </style>







    @await Html.PartialAsync("_CreateItem","Movies")
